<ion-header [translucent]="translucent">
  <ion-toolbar>

    <!-- Sol butonlar: geri + home -->
    <ion-buttons slot="start" *ngIf="showBack || showHome">
      <ion-button *ngIf="showBack" (click)="goBack()" aria-label="Geri dön">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
      <ion-button *ngIf="showHome" (click)="goHome()" aria-label="Ana sayfa">
        <ion-icon slot="icon-only" name="home-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>{{ title }}</ion-title>

    <!-- Sağ butonlar: kullanan bileşen içerik projeksiyonu ile sağlar -->
    <ion-buttons slot="end">
      <ng-content select="[slot='end']"></ng-content>
    </ion-buttons>

  </ion-toolbar>

  <!-- Alt içerik projeksiyonu: segment, searchbar vb. -->
  <ng-content></ng-content>

</ion-header>
